.root {
  position: relative;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

.root:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 115px;
  background: rgba(255, 255, 255, 0.1);
  transform-origin: center center;
  transform: translateX(-460px) rotate(-30deg);

  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: shine;

  z-index: -1;
}

@keyframes shine {
  0% {
    transform: translateX(-460px) rotate(-30deg);
  }

  50% {
    transform: translateX(-80px) rotate(-30deg);
  }

  100% {
    transform: translateX(-80px) rotate(-30deg);
  }
}
